@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {font-family:'Roboto','Arial',sans-serif;line-height:1.5em;}
a {color:#5661b3;text-decoration:none;transition:color .3s ease-in;}
a:hover {text-decoration:none;color:#de751f;}

.icn-x {
  display:inline-flex;
  span {
    position:relative;width:1rem;height:1rem;
    &:before, &:after {content:'';display:block;width:100%;height:.2rem;background:#ffffff;transform-origin:0;position:absolute;top:calc(50% - .1rem);left:50%;}
    &:before {transform:rotate(45deg) translateX(-50%);}
    &:after {transform:rotate(-45deg) translateX(-50%);}
  }
}
.icn-menu {
  display:inline-flex;
  #app[data-show-menu="true"] & {visibility:hidden;}
  span {
    position:relative;width:1rem;height:1rem;display:flex;flex-direction:column;justify-content:center;border-top:.2rem solid #ffffff;border-bottom:.2rem solid #ffffff;
    &:before {content:'';display:block;width:100%;height:.2rem;background-color:#ffffff;margin:auto;}
  }
}

/* Adding new re-usable classes */
.transition-all {transition:all .3s ease-in;}
.transition-all-slow {transition:all .5s ease-in;}

#app {min-height:100vh;width:100vw;overflow-x:hidden;}

  #primary-nav-panel {
    height:100vh;width:100vw;display:flex;flex-direction:row;transform:translateX(-100vw);
    #app[data-show-menu="true"] & {transform:translateX(0);}
    nav {
      flex:0 0 30rem;
    }
    .close {flex:1 1 auto;}
  }

  #primary-nav-panel-underlay {
    height:100vh;width:100vw;visibility:hidden;z-index:-1;opacity:0;transition:opacity .3s ease-in;
    #app[data-show-menu="true"] & {visibility:visible;z-index:49;opacity:.75;transition:opacity .3s ease-out;}
  }

  #site-logo {
    span {
      width:1rem;height:1rem;position:relative;display:block;
      &:before {content:'';border-width:.5rem;border-style:solid;border-color:transparent;border-bottom-color:#ffffff;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-1rem);display:block;}
      &:after {content:'';width:.6rem;height:.5rem;background:#ffffff;display:block;position:absolute;top:50%;left:50%;transform:translateX(-50%);}
    }
  }

  #page {min-height:100vh;}